aiohappyeyeballs
aiohttp
aiosignal
anndata==0.11.3
anyio
archspec
argon2-cffi
argon2-cffi-bindings
array_api_compat==1.10.0
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
bokeh
boltons
branca
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
confluent-kafka
contourpy
cucim
cuda-python
cudf
cudf-polars
cudf_kafka
cugraph
cuml
cuproj
cupy
cuspatial
custreamz
cuvs
cuxfilter
cycler
cytoolz
dask
dask-cuda
dask-cudf
dask-expr
datashader
debugpy
decorator
decoupler==1.8.0
defusedxml
distributed
distributed-ucxx
distro
docrep==0.3.2
entrypoints
exceptiongroup
executing
fastjsonschema
fastrlock
filelock==3.16.1
folium
fonttools
fqdn
frozendict
frozenlist
fsspec
gdown==5.2.0
geopandas
h11
h2
h5py==3.12.1
harmonypy==0.0.10
holoviews
hpack==4.0.0
httpcore
httpx
hyperframe
idna
igraph
imagecodecs
imageio
importlib_metadata
importlib_resources
inflect==7.5.0
iniconfig
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_proxy
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lazy_loader
legacy-api-wrap==1.4.1
leidenalg
libmambapy
linkify-it-py
llvmlite==0.43.0
locket
louvain
lz4
mapclassify
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdit-py-plugins
mdurl
menuinst
mistune
more-itertools==10.6.0
msgpack
multidict
multipledispatch
munkres==1.1.4
natsort==8.4.0
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook_shim
numba
numba-cuda
numpy==1.26.4
nvtx
nx-cugraph
omnipath==1.0.8
overrides
packaging
pandas
pandocfilters
panel
param
parso
partd
patsy==1.0.1
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pluggy
polars
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow==17.0.0
pycosat
pycparser
pyct
Pygments
pylibcudf==24.12.0
pylibcugraph
pylibraft
pynndescent==0.5.13
pynvjitlink-cu12
pynvml
pyogrio
pyparsing
pyproj
PySocks
pytest
python-dateutil
python-json-logger
pytz
pyviz_comms
PyWavelets==1.8.0
PyYAML
pyzmq
raft-dask
rapids-dask-dependency
-e git+https://github.com/scverse/rapids_singlecell.git@d9059fd6426d97041017624256dae2a4a973670e#egg=rapids_singlecell
referencing
requests
rfc3339_validator
rfc3986-validator
rich
rmm
rpds-py
ruamel.yaml
ruamel.yaml.clib
scanpy==1.10.4
scikit-image
scikit-learn
scikit-misc==0.5.1
scipy
seaborn==0.13.2
Send2Trash
session_info==1.0.0
setuptools==75.3.0
sh==2.2.1
shapely
simpervisor
six
sniffio
sortedcontainers
soupsieve
stack_data
statsmodels==0.14.4
stdlib-list==0.11.0
streamz
tblib
terminado
texttable
threadpoolctl
tifffile
tinycss2
tomli
toolz
tornado
tqdm
traitlets
treelite
truststore
typeguard==4.4.1
types-python-dateutil
typing_extensions
typing_utils
tzdata
uc-micro-py
ucx-py
ucxx
umap-learn==0.5.7
unicodedata2
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wget==3.2
wheel==0.45.0
wrapt==1.17.2
xarray
xgboost
xyzservices
yarl
zict
zipp
zstandard==0.23.0